/* font-weight: 700; */
@font-face {
  font-family: "Space Grotesk Bold";
  font-display: swap;
  src: url(../assets/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf);
}

/* font-weight: 300; */
@font-face {
  font-family: "Space Grotesk Light";
  font-display: swap;
  src: url(../assets/fonts/Space_Grotesk/static/SpaceGrotesk-Light.ttf);
}

/* font-weight: 500; */
@font-face {
  font-family: "Space Grotesk Medium";
  font-display: swap;
  src: url(../assets/fonts/Space_Grotesk/static/SpaceGrotesk-Medium.ttf);
}

/* font-weight: 400; */
@font-face {
  font-family: "Space Grotesk Regular";
  font-display: swap;
  src: url(../assets/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}

/* font-weight: 600; */
@font-face {
  font-family: "Space Grotesk SemiBold";
  font-display: swap;
  src: url(../assets/fonts/Space_Grotesk/static/SpaceGrotesk-SemiBold.ttf);
}
